.annotations-control {
  position: absolute;
  top: 20px;
  right: calc(50vw - 200px);
  font-size: 0.9em;
  /* background: #f9fbfb;
  box-shadow: 0px 2px 8px rgb(44 44 44 / 15%);
  border-radius: 4px; */
}

.annotations-control--panel {
  background: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.annotations-text--dropdown .ant-btn-compact-last-item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.annotations-control--panel .ant-form {
  padding: 24px;
}

.annotations-control--panel .line-width-select {
  box-shadow: none;
}

.annotations-arrow--dropdown .ant-btn-compact-first-item {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
